<head>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>

<body>
  <ul class='nav-bar'>
    <li class='nav-bar-item'><a href="/stations">stations</a></li>
    <li class='nav-bar-item'><a href="/trips">trips</a></li>
    <li class='nav-bar-item'><a href="/conditions">weather conditions</a></li>
  </ul>

  <h1>Trips Overview</h1>
  <p>Average Duration of Ride: <%= @trips.average_duration_of_a_ride %></p>
  <p>Longest Ride: <%= @trips.longest_ride %></p>
  <p>Shortest Ride: <%= @trips.shortest_ride %></p>
  <p>Most Frequent Starting Station: <%= @trips.first.most_frequent_starting_station %></p>
  <p>Most Frequent Ending Station: <%= @trips.first.most_frequent_ending_station %></p>
  <p>Rides Per Year: <% @trips.first.number_of_rides_per_year.each do |year, year_rides|  %>
    <%= year%>:<%=year_rides%>
    <%end%></p>
  <p>Rides Per Month: <% @trips.first.display_monthly_rides.each do |month, month_rides|  %>
    <%= month%>:<%=month_rides%>
    <%end%></p>
  <p>Most Ridden Bike: <%= @bike_analytics.keys.last %> Number of Rides: <%= @bike_analytics.values.last %></p>
  <p>Least Ridden Bike: <%= @bike_analytics.keys.first %> Number of Rides: <%= @bike_analytics.values.first %></p>
  <p>Users Subscribed: <%= @trips.subscription_breakdown.values.last %> Percentage: <%= @trips.calculate_percentage("subscriber") %>%</p>
  <p>Users Not Subscribed: <%= @trips.subscription_breakdown.values.first %> Percentage: <%= @trips.calculate_percentage("customer") %>%</p>
  <p>Date With Most Trips:  <%= @date_analytics.keys.last%> Number of Trips: <%= @date_analytics.values.last %></p>
  <p>Date With Least Trips:  <%=@date_analytics.keys.first %> Number of Trips: <%= @date_analytics.values.first %></p>
  <p>add thing for weather on the day with most and least trips</p>
</body>
