<main class="dashboard">
  <h1 class="title">trips dashboard</h1>
  <p>Average Duration of Ride: <%= @trips.average_duration_of_a_ride %></p>
  <p>Longest Ride: <%= @trips.longest_ride %></p>
  <p>Shortest Ride: <%= @trips.shortest_ride %></p>
  <p>Most Frequent Starting Station: <%= @trips.most_frequent_station("start_station_id", "DESC") %></p>
  <p>Most Frequent Ending Station: <%= @trips.most_frequent_station("end_station_id", "DESC") %></p>
  <p>Rides Per Year: <% @trips.time_period_with_rides("year", "%Y").each do |year|  %>
    <%= year %>: <%= @trips.number_of_rides_per_time_period("year", year)%>
      <% @trips.time_period_with_rides("month", "%m").each do |month| %>
        <%= month %>: <%= @trips.number_of_rides_per_time_period("month", month) %>
      <% end %>
    <% end %></p>
  <p>Most Ridden Bike: <%= @trips.find_min_or_max_id("bike_id", "DESC") %> Number of Rides: <%= @trips.find_min_or_max_count("bike_id", "DESC")%></p>
  <p>Least Ridden Bike: <%= @trips.find_min_or_max_id("bike_id", "ASC") %> Number of Rides: <%= @trips.find_min_or_max_count("bike_id", "ASC") %></p>
  <p>Users Subscribed: <%= @trips.find_user_count_for_subscription_type("subscriber") %> Percentage: <%= @trips.calculate_percentage("subscriber") %>%</p>
  <p>Users Not Subscribed: <%= @trips.find_user_count_for_subscription_type("customer")%> Percentage: <%= @trips.calculate_percentage("customer") %>%</p>
  <p>Date With Most Trips:  <%= @trips.find_min_or_max_id("start_date", "DESC")%> Number of Trips: <%= @trips.find_min_or_max_count("start_date", "DESC") %></p>
  <p>Date With Least Trips:  <%= @trips.find_min_or_max_id("start_date", "ASC") %> Number of Trips: <%= @trips.find_min_or_max_count("start_date", "ASC") %></p>

  <h5> Weather Conditions for Day with Most Rides</h5>
  <ul>
    <li> Max Temperature: <%= @condition_with_most_rides.max_temperature %> degrees</li>
    <li> Average Temperature: <%= @condition_with_most_rides.mean_temperature %> degrees</li>
    <li> Min Temperature: <%= @condition_with_most_rides.min_temperature %> degrees</li>
    <li> Average Humidity: <%= @condition_with_most_rides.mean_humidity %> %</li>
    <li> Average Visibility: <%= @condition_with_most_rides.mean_visibility %> miles</li>
    <li> Average Wind Speed: <%= @condition_with_most_rides.mean_wind_speed %> miles per hour</li>
    <li> Precipitation: <%= @condition_with_most_rides.precipitation %> inches</li>
  </ul>

  <h5> Weather Conditions for Day with Least Rides</h5>
  <ul>
    <li> Max Temperature: <%= @condition_with_least_rides.max_temperature %> degrees</li>
    <li> Average Temperature: <%= @condition_with_least_rides.mean_temperature %> degrees</li>
    <li> Min Temperature: <%= @condition_with_least_rides.min_temperature %> degrees</li>
    <li> Average Humidity: <%= @condition_with_least_rides.mean_humidity %> %</li>
    <li> Average Visibility: <%= @condition_with_least_rides.mean_visibility %> miles</li>
    <li> Average Wind Speed: <%= @condition_with_least_rides.mean_wind_speed %> miles per hour</li>
    <li> Precipitation: <%= @condition_with_least_rides.precipitation %> inches</li>
  </ul>
</main>
