<main class="edit">
  <form action="/trips/<%=@trip.id%>" method="POST">
    <h1 class="title">change trip details </h1>
    Start Date: <input type='text' name='trip[start_date]' value="<%=@trip.start_date%>"/><br><br><br>
    Start Station ID: <input type='text' name='trip[start_station_id]' value="<%=@trip.start_station_id%>"/><br><br><br>
    End Date: <input type='text' name='trip[end_date]'value="<%=@trip.end_date%>"/><br><br><br>
    End Station ID: <input type='text' name='trip[end_station_id]' value="<%=@trip.end_station_id%>"/><br><br><br>
    Bike ID: <input type='text' name='trip[bike_id]' value="<%=@trip.bike_id%>"/><br><br><br>
    Subscription Type: <input type='text' name='trip[subscription_type]' value="<%=@trip.subscription_type%>"/><br><br><br>
    Zip Code: <input type='text' name='trip[zip_code]' value="<%=@trip.zip_code%>"/><br><br><br>
    <input type="hidden" name="_method" value="PUT">
    <input type='submit' value='Save Changes'/><br><br>
    <a href="/trips/<%=@trip.id%>">Back to Trip</a>
  </form>
</main>
