<main class="dashboard">
   <h1 class="title">stations dashboard</h1>
   <p>Total Number of Stations: <%=@stations.count%></p>
   <p>Average Number of Bikes Per Station: <%=@stations.first.mean_number_of_bikes.round%></p>
   <p>Most Bikes Available: <%= @stations.first.max_number_of_bikes %></p>
   <p>Stations with Most Bikes Available: <% @stations.first.station_with_max_bikes.each do |station| %>
      <ul>
       <li><%= station.name %></li>
      </ul>
   <% end %>
   <p>Fewest Bikes Available: <%= @stations.first.min_number_of_bikes %></p>
   <p>Stations with Fewest Bikes Available: <% @stations.first.station_with_min_bikes.each do |station| %>
      <ul>
        <li><%= station.name %></li>
      </ul>
   <% end %>
   <p>Newest Station: <%= @stations.first.most_recently_installed_station.name %></p>
   <p>Oldest Station: <%= @stations.first.oldest_station.name %></p>
</main>
