 <h1>Stations Overview</h1>
 Total Number of Stations: <%=@stations.count%>
 Average Number of Bikes Per Station: <%=@stations.mean_number_of_bikes%>
 Most Bikes Available: <%= @stations.max_number_of_bikes %>
 Stations with Most Bikes Available: <% @stations.station_with_max_bikes.each do |station| %>
  <br><%= station.name %> <br>
 <% end %>
 Fewest Bikes Available: <%= @stations.min_number_of_bikes %>
 Stations with Fewest Bikes Available: <% @stations.station_with_min_bikes.each do |station| %>
  <br><%= station.name %> <br>
 <% end %>
 Newest Station: <%= @stations.most_recently_installed_station.name %>
 Oldest Station: <%= @stations.oldest_station.name %>
