<h1>Stations Index</h1>

<% @stations.each do |station| %>
  <h3><a href="/stations/<%=station.id%>"><%= station.name %></a></h3>
  <p><%= station.city %></p>
  <a href="/stations/<%=station.id%>/edit">Edit</a>
  <a href="/stations/<%=station.id%>">Delete</a>
<% end %>
